
.gradient-background {
    background: linear-gradient(300deg, #0a192f, #4c5c96, #00bcd4, #ff4c68);
    background-size: 200% 200%;
    animation: gradient-animation 12s ease infinite;
    color: white; 
    padding-top: 0 !important; 
    margin-top: 0 !important;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.highlight {
    font-weight: 700;
}

.portfolio-section {
    color: black;
}

.portfolio-section .highlight {
    font-weight: 700;
}

.album {
    background-color: #f8f9fa;
    border: none;
    box-shadow: none;
}

.card-text {
    text-align: center;
}

.bg-dark {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

body {
    margin: 0;
    padding: 0;
}

.zoomable-img {
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.zoomable-img:hover {
    transform: scale(1.2);
    z-index: 10;
}
